a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    
}

img{
    width: 50%;
    display: block;
    margin: 10px;
    margin: auto;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(7, 18, 18);
    background-color: rgb(164, 229, 164);
}

.paradise{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.twain{
    margin: 20px;
    font-weight: 400;
    font-style: italic;
    position: relative;
    color: white;
}

.music{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}
